@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: cover;
    height: 100vh;
}

section#celular {
    position: absolute;
    background-image: url(imagens/frame-iphone.png);
    width: 311px;
    height: 627px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

section#celular iframe {
    position: relative;
    left: 24px;
    width: 263px;
    top: 82px;
    height: 467px;
}

section#icones {
    position: absolute;
    left: 100%;
    transform: translate(-100%);
}

section#icones img {
    border-radius: 50%;
    height: 60px;
    margin: 5px;
    box-sizing: border-box;
}

section#icones img:hover {
    border: 2px solid rgba(255, 255, 255, 0.6);
}